[Unit]
Description=Home Connection Testing Service
After=multi-user.target

[Service]
Type=forking
ExecStart=/bin/bash /home/pi/hct/run-all.sh
TimeoutSec=0
RemainAfterExit=yes
GuessMainPID=no
Restart=on-failure
RestartSec=5s

StandardOutput=file:/var/log/home-connection-test.log
StandardError=file:/var/log/home-connection-test.log

[Install]
WantedBy=multi-user.target